body {
  /* Photo by NOAA on Unsplash */
  background: url('./assets/noaa.jpg') no-repeat center center fixed;
  background-size: cover;
}

.App {
  display: flex;
}

.days {
  min-width: 305px;
}

.grid {
  min-width: 360px;
}
